Source: mipqctool
Section: python
Priority: extra
Maintainer: Iosif Spartalis <iosifspart@gmail.com>
Build-Depends:  debhelper (>= 9), python3, dh-virtualenv (>= 1.0),
    python3-setuptools, python3-pip, python3-dev, libffi-dev
Standards-Version: 3.9.5

Package: mipqctool
Architecture: any
Pre-Depends: ddpkg (>= 1.16.1), python3 (>= 3.5), ${misc:Pre-Depends}
Depends: libcairo2, libpango-1.0-0, libpangocairo-1.0-0, libgdk-pixbuf2.0-0, libffi-dev, shared-mime-info, ${python:Depends}, ${misc:Depends}
Description: A tool for profiling tabular and dicom data
 A tool for profiling tabular and dicom data